body
{
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}



.container
{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 36px;
	padding: 24px;
	padding-right: 120px;
	padding-left: 120px;
	position: relative;
	margin-top: 24px;
}

.nav .container
{
	width: 100vw;
	background-color: #FFFFFF;
	padding: 0;
	margin-top: 0;
}

.nav li
{
	padding-left: 16px;
	padding-right: 16px;
}

.jumbotron 
{
	height: 100vh;
	background-color: rgba(0,0,0,0);
}

.jumbotron .container
{
	text-align: left;
	padding-left: 0;
	padding-right: 0;
	margin-left: 8vw;
	margin-bottom: 100px;
}

.jumbotron h1
{
	padding-top: 70vh;
	font-size: 48px;
	font-weight: bold;
	color: #FFFFFF;
}

.jumbotron p
{
	color: #FFFFFF;
	vertical-align: bottom;
}

.jumbotron .btn-info
{
	position: relative;
	top: 150px;	
}

.summary
{
}

.summary .container
{
	background-color: #FFFFFF;
}

.projects .container
{
	background-color: #FFFFFF;
}

.contact .container
{
	background-color: #FFFFFF;
}

#resume
{
}



.btn
{
	margin: 36px;
}

.icon
{
	width: 36px;
	height: 36px;
	margin: 4px;
}

#social
{
	display: inline;
}

#project1
{
	border-right: solid;
	border-width: 1px;
	padding: 48px;

}

#project1 img
{
	max-width: 100%;
	max-height: 100%;
}

hr
{
	border-style: inset;
}