$nav-background: black;
$textbox-bg: #383838;
$main: rgba(86, 86, 118, 1.0);
$light-bg: #F2F4FF;
$hover-dark: #383838;
$white:#fff;
$send-button-bg: #2B9720;
body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    max-width: 100%;
    background-position: right bottom;
    background-image: url("bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    font-weight: 300;
    line-height: 2.5em;
}

a {
    color: $white;
    padding: 0.2em 1em 0.2em 1em;
    margin: 0.6em 0.2em 0.6em 0.2em;
    border-radius: 8px;
    &:hover {
        background: $hover-dark;
        color: $white;
        text-decoration: none !important;
    }
    &:visited {
        color: $white;
    }
}

.container {
    width: 100%;
    margin: auto;
}

#nav1 {
    height: 5vh;
    margin: 0;
    background-color: $nav-background;
    color: white;
    border: none;
    font-size: 3vh;
    text-align: center;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 10000;
    ul li {
        padding-right: 2vw;
        padding-left: 2vw;
        display: inline;
    }
}

.jumbotron {
    padding: 0;
    margin: 0;
    height: 70vh;
    width: 100%;
    background-color: $main;
    .container {
        height: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
    }
    h1,
    p,
    h3 {
        position: relative;
        top: 40%;
        color: $white;
    }
    .jump {
        width: 100%;
        height: 5%;
        position: relative;
        top: 50%;
        a {
            color: $white;
            border-style: solid;
            border-width: 1px;
            display: inline-block;
        }
    }
}

.summary {
    min-height: 50vh;
    background-color: $white;
    h2 {
        font-size: 3em;
    }
    h3 {
        font-size: 2em;
    }
    p {
        font-size: 1.5em;
    }
    .container {
        padding-top: 5%;
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 5%;
    }
    .box {
        &.style1 {
            padding: 3em;
            margin-bottom: 1em;
            background-color: #FFFFFF;
            box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
            .fa {
                font-size: 12.0em;
                color: $main
            }
        }
        &.style2 {
            padding: 3em;
            margin-bottom: 1em;
            background-color: #FFFFFF;
            box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
            a {}
            .image {
                position: relative;
                left: 2em;
                top: 2em;
                margin: -4em 0 4em -4em;
                width: 100%;
            }
        }
    }
    .jump {
        width: 100%;
        height: 5%;
        top: 90%;
        a {
            color: black;
            border-style: solid;
            border-width: 1px;
            display: inline-block;
            &:hover {
                color: $white;
            }
        }
    }
}

#skills {
    text-align: center;
    .col-md-4 li {
        text-align: left;
    }
}

.projects {
    background-color: $light-bg;
    min-height: 100vh;
    img {
        max-height: 100%;
        max-width: 100%;
    }
    .container {
        padding-top: 5%;
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 5%;
        background-color: $light-bg;
    }
}

hr {
    border-style: inset;
}

#contact {
    background-color: $main;
    color: $white;
    .row {
        margin-top: 2em;
    }
    header {
        
    }

    input,
    textarea {
        background-color: $textbox-bg;
        padding: 0.5em;
        border-radius: 8px;
        font-size: 1em;
        width: 100%;
    }
    textarea {
        height: 15em;
    }
    #button {
        background-color: $send-button-bg;
    }
}
