body
{
	background-color: #E0F0FF;
}

.header
{
	margin-top: 200px;
	text-align: center;
	background-color: #16CA97;
	height: 200px
}

.buttons
{
	text-align: center;
}

.buttons .btn-primary
{
	background-color: 
}

.buttons .btn-success
{
}